//
//  FMDBStoreGenerator
//
//  Copyright (c) 2012 Kouji Ishii
//
//  This software is released under the MIT License.
//
//  http://opensource.org/licenses/mit-license.php
//

#import <Foundation/Foundation.h>
#import "{{prefix}}{{entityClassName}}{{entitySuffix}}.h"
#import "{{prefix}}{{storeSuffix}}FmdbBase.h"

@interface {{prefix}}{{entityClassName}}{{storeSuffix}} : {{prefix}}{{storeSuffix}}FmdbBase

@end
