//
//  FMDBStoreGenerator
//
//  Copyright (c) 2012 Kouji Ishii
//
//  This software is released under the MIT License.
//
//  http://opensource.org/licenses/mit-license.php
//

#import "{{prefix}}{{entityClassName}}{{entitySuffix}}.h"

@implementation {{prefix}}{{entityClassName}}{{entitySuffix}}

{{#columnInfos}}
@synthesize {{propertyName}};{{/columnInfos}}

@end
